{% extends "base.html" %}
{% block title %}Мир книг{% endblock title %}
{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}
{% block content %}
    <div class="container-fluid my-1">
        <div class="row bg-success text-white mx-1">
            <div class="col text-center">
                <p>
                    Добро пожаловать на сайт <em>Мир книг</em>. Это очень простой веб-сайт,
                    написанный на Django и Boostrap. Разработан на Python в качестве учебного
                    примера с использованием PyCharm.
                </p>
            </div>
        </div>
        <div class="row text-center text-dark lh-2">
            <div class="col mx-1 bg-primary">
                Количество книг - {{ num_books }}
            </div>
            <div class="col mx-1 bg-primary">
                На складе в наличии - {{ num_instances }}
            </div>
            <div class="col mx-1 bg-primary">
                Количество авторов - {{ num_authors }}
            </div>
        </div>
        <div class="row text-center text-dark text-danger lh-2">
            <h3>Книги</h3>
        </div>
            {% if num_books > 0 %}
                <div class="row my-2">
                    {% for book in books %}
                        <div class="card" style="width: 9rem;">
                            <img src="{{ book.photo.url }}" class="card-img-top">
                            <div class="card-text small">
                                <p class="card-text small">
                                    {{ book.title }}, Цена:{{ book.price }} руб.
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
{% endblock content %}